body {
	font-family: 'Open Sans', sans-serif;
	background-color: #F89406;
	background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.cntl {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.cntl-center {
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.cntl-bar {
	position: absolute;
	width: 20px;
	top: 0;
	bottom: 0;
	background-color: #CCCCCC;
	border: 1px solid;
	box-shadow: inset 0px 0px 7px -2px #000;
}

/*De lijn die in het midden loopt animatie*/
.cntl-bar-fill {
	background-color: #808080;
	position: absolute;
	left:0;
	right:0;
	top:0;
	height:0;
	overflow: hidden;
	width: 20px;

}

.cntl-state {
	position: relative;
	width:100%;
	min-height: 500px;
	margin-bottom: 10px;
}

.cntl-state::after {
	display:block;
	content: ' ';
	clear:both;
}
/*de Rondjes in het midden*/
.cntl-icon {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	background-color: #D35400;
	box-shadow: 0px 0px 19px -9px #000;
	position: absolute;
	top: 0;
	text-align: center;
	line-height: 80px;
	font-size: 40px;
	color: #fff;
}
/*De divs*/
.cntl-content {
	width: 40%;
	padding: 2%;
	background-color: #FDE3a7;
	border-radius: 8px;
	border-bottom: solid 3px #003300;
	float:left;
	opacity:0;
	position:relative;
	margin-left:-40%;
}

.cntl-state:nth-child(2n+2) .cntl-content {
	float:right;
	margin-right:-40%;
}

.cntl-image {
	opacity:0;
	width: 40%;
	padding: 2%;
}

.cntl-state:nth-child(2n+1) .cntl-image {
	float:right;
}

.cntl-image img {
	width:100%;
}

.cntl-content h4 {
	font-size:20px;
	font-weight: normal;
	margin-bottom: 10px;
}

/*
animations
*/
.cntl-bar-fill,.cntl-content,.cntl-image {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	transition: all 500ms ease;
}

.cntl-state:nth-child(2n+2).cntl-animate .cntl-content {
	margin-right:0%;
}

.cntl-animate .cntl-content {
	opacity:1;
	margin-left:0%;
}

.cntl-animate .cntl-image {
	opacity:1;
}



/* mobile support */

@media (max-width: 500px) {

	.cntl-bar {
		left:auto;
		right: 37px;
	}

	.cntl-content {
		width:80%;
		float:none;
	}
	.cntl-state:nth-child(2n+2) .cntl-content {
		margi-right:0%;
		float:none;
	}

	.cntl-image {
		width:80%;
	}

	.cntl-state:nth-child(2n+1) .cntl-image {
		float:none;
	}

	.animate .cntl-content {
		margin-left: 2%;
	}

	.cntl-icon {
		left: auto;
		right: 0;
	}

}
